body {
    background-image: url("./images/casette-beautiful-shot.jpg");
    background-size: cover;
}

.tracks-container {
    margin: 250px;
}

.track-listing {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}